<div class="flex flex-col items-start space-y-2">
  <h2 class="text-xl font-bold">Game Mode</h2>
  <ul>
    <li>
      <a
        href="#"
        class="block px-4 py-2 rounded"
        [ngClass]="{
          'font-bold': selectedMode === gameModes[0],
          'text-black': selectedMode !== gameModes[0]
        }"
        (click)="selectMode(gameModes[0])"
      >
        Human vs Human
      </a>
    </li>
    <li>
      <a
        href="#"
        class="block px-4 py-2 rounded"
        [ngClass]="{
          'font-bold': selectedMode === gameModes[1],
          'text-black': selectedMode !== gameModes[1]
        }"
        (click)="selectMode(gameModes[1])"
      >
        Human vs AI
      </a>
    </li>
  </ul>
</div>